{% extends "cpq_app/base.html" %}
<head>

    <!-- load bootstrap via jsDeliver urls -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


</head>

{% block content %}
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <!-- Left-aligned section -->
        <div class="d-flex align-items-center">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">Create Quotation</span>
            </a>
        </div>
        <!-- Right-aligned search form -->
        <form class="col-lg-auto mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>    
</header>

<div class="container d-flex justify-content-center">
    <form method="POST" style="width:90%;"> {% csrf_token %}   
        <h4> Quotation Attributes </h4>    
        <div class="row">
            <div class="col">
                <label for="name">Customer</label>
                <select class="customer w-100" id="customer_select">\
                    <option value="" selected disabled>Select a Customer</option>
                    {% for customer in customers %}
                    <option value="{{customer.customer_id}}">{{customer.customer_name}}</option>
                    {% endfor %}
                    <option value="delete" hidden></option>
                </select>
            </div>
            <div class="col">
                <label for="name">Address</label>
                <input type="text" class="customer_address form-control" placeholder="Address" readonly>
            </div>
            <div class="col">
                <label for="name">Project</label>
                <input type="text" class="project form-control" placeholder="Project">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="name">Mobile Number</label>
                <input type="text" class="customer_mobile form-control" placeholder="Mobile Number" readonly>
            </div>
            <div class="col">
                <label for="name">Email Address</label>
                <input type="text" class="customer_email form-control" placeholder="Email Address" readonly>
            </div>
        </div>
        <hr>
        <div class="row row-cols-auto">
            <div class="col justify-content-center">
                <h4> Quotation Items </h4>
            </div>
            <div class="col-3">
            <label for="supplier_default">Default Supplier</label>
            <select class="supplier_default form-select" id="supplier" name="supplier_default">
                <option value="" selected disabled>Select a Supplier</option>
                {% for supplier in suppliers %}
                <option value="{{supplier.supplier_id}}">{{supplier.supplier_name}}</option>
                {% endfor %}
            </select>
            </div>
        </div>
        <div class="row">  
            <div class="item_container">
            </div>
        </div>
        <button type="button" class="btn btn-secondary mt-2 addItem" id="addItem">Add Item</button>

        <div class="row pt-3 mt-3">
            <div class="col-6">
                <a href="{% url 'product_list' %}" class="btn btn-secondary w-100">Cancel</a>
            </div>
            <div class="col-6">
                <button type="button" class="submit-btn btn btn-primary w-100">Create Quote</button>
            </div>
        </div>
    </form>
</div>

<div class="mt-4" id="quoteItem_row_temp" style="display:none;">
    <div class="row">
        <div class="col">
            <select class="supplier form-select" id="supplier" name="supplier">
                <option value="" selected disabled>Select a Supplier</option>
                {% for supplier in suppliers %}
                <option value="{{supplier.supplier_id}}">{{supplier.supplier_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select class="product_id form-select" id="">
                <option value="" disabled selected>Select Product</option>
                <option value="delete" hidden></option>
            </select>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary bom">See Bill of Materials</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary bom">Configure</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-close btn-delete delete-quoteItem" data-row-id="quoteItem_row">
            </button>
        </div>
    </div>
    <div class="row align-items-center mt-2">
        <div class="col">
            <input type="number" class="item_quantity form-control"
                placeholder="Quantity">
        </div>
        <div class="col-5 d-flex align-items-center">
            <input type="number" class="item_width form-control text-center" placeholder="Width" >
            <span class="mx-2">X</span>
            <input type="number" class="item_height form-control text-center" placeholder="Height">
        </div>
        <div class="col">
            <input type="number" class="unit_price form-control"
                placeholder="Unit Price" readonly>
        </div>
        <div class="col">
            <input type="number" class="total_amount form-control"
                placeholder="Total Amount" readonly>
        </div>
    </div>
</div>




<script>
    const item_container = $('.item_container');
    rowCounter_addItem = 0;

    $(document).ready(function () {
        const addItem_button = $('#addItem');
        const customer_select = $('#customer_select')
        
        $(document).on('click', '.delete-quoteItem', function () {
            let rowId = $(this).data('row-id');
            let row = $('#' + rowId);

            let idElement = row.find('.product_id');
            
            idElement.val('delete');
            row.hide();
            console.log("deleted row: " + row.attr('id'))
            console.log(idElement.val())
        });
        $(".submit-btn").click(function() {
            let isValid = true;
            let material_data = [];
        
            $(".form-control, .form-select").removeClass("is-invalid");

            let customer_id = $(".customer").val();
            let customer_address = $(".customer_address").val();
            let project = $(".project").val();
            let customer_mobile = $(".customer_mobile").val();
            let customer_email = $(".customer_email").val();

            if (!customer_id) {
                console.log("Product name is missing");
                $(".customer").addClass("is-invalid");
                isValid = false;
            }
            if (!project) {
                console.log("Product category is missing");
                $(".project").addClass("is-invalid");
                isValid = false;
            }

        
            $(".quoteItem_row").each(function() {
                let row = $(this);
                console.log(row.attr('id'))
                let item_supplier = row.find(".supplier").val()
                let product_id = row.find(".product_id").val()
                let item_quantity = row.find(".item_quantity").val()
                let item_width = row.find(".item_width").val()
                let item_height = row.find(".item_height").val()
                let unit_price = row.find(".unit_price").val()
                let total_amount = row.find(".total_amount").val()


                console.log(product_id)

                if (product_id === "delete") {
                    return; 
                }

                if (!item_supplier) {
                    row.find(".item_supplier").addClass("is-invalid");
                    isValid = false;
                }
                if (!item_width) {
                    row.find(".item_width").addClass("is-invalid");
                    isValid = false;
                }
                if (!item_quantity) {
                    row.find(".item_quantity").addClass("is-invalid");
                    isValid = false;
                }
                if (!item_height) {
                    row.find(".item_height").addClass("is-invalid");
                    isValid = false;
                }
                if (!product_id) {
                    row.find(".product_id").addClass("is-invalid");
                    isValid = false;
                }
        
                // Add only valid data
                if (material_id && material_quantity && material_scale && scale_ratio) {
                    material_data.push({
                        'material_id': material_id,
                        'material_quantity': material_quantity,
                        'material_scale': material_scale,
                        'scale_ratio': scale_ratio,
                    });
                }
            });
        
            // Stop submission if validation fails
            if (!isValid) {
                alert("Please fill in all required fields.");
                return;
            }
        
            // Prepare Data
            let submit_data = {
                'product_id': product_id,
                'product_name': product_name,
                'product_category': product_category,
                'product_margin': product_margin,
                'product_labor': product_labor,
                'supplier': supplier,
                'pm_data': JSON.stringify(material_data),
                "csrfmiddlewaretoken": $("[name=csrfmiddlewaretoken]").val(),
            };
        
            console.log(submit_data);
            // Submit Data via AJAX
            $.ajax({
                method: "post",
                data: submit_data,
                success: function(data) {
                    console.log(data["status"]);
                    console.log(data);
                    if (data["status"]) {
                        window.location = data["url"];
                    } else {
                        alert(data["error"]);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("Something broke");
                }
            });
        });
        customer_select.select2({
            theme: 'bootstrap-5',
            placeholder: "Select Customer",
            allowClear: true,
        });

        
        customer_select.on('change', function() {
            let customerId = $(this).val();
            
            if (customerId) {
                $.ajax({
                    url: '/get_customer',  // Replace with your actual API endpoint
                    type: 'GET',
                    data: { customer_id: customerId },
                    dataType: 'json',
                    success: function(response) {
                        if (response) {
                            $('.customer_address').val(response.address);
                            $('.customer_mobile').val(response.mobile);
                            $('.customer_email').val(response.email);
                        } else {
                            clearCustomerFields();
                        }
                    },
                    error: function() {
                        alert('Failed to fetch customer details.');
                        clearCustomerFields();
                    }
                });
            } else {
                clearCustomerFields();
            }
        });
    
        function clearCustomerFields() {
            $('.customer_address').val('');
            $('.customer_mobile').val('');
            $('.customer_email').val('');
        }  
    })
    $(document).on("change", ".supplier", function () {
        let supplierId = $(this).val();  
        let productSelect = $(this).closest(".row").find(".product_id"); 
        
        console.log("Supplier changed:", supplierId);
    
        if (supplierId) {
            $.ajax({
                url: "/get_products/", 
                type: "GET",
                data: { supplier_id: supplierId },
                dataType: "json",
                success: function (response) {
                    productSelect.empty();  
                    productSelect.append('<option value="" disabled selected>Select Product</option>');
    
                    if (response.products.length > 0) {
                        response.products.forEach(function (product) {
                            productSelect.append(`<option value="${product.product_id}">${product.product_name}</option>`);
                        });
                    } else {
                        productSelect.append('<option value="" disabled>No Products Available</option>');
                    }
                },
                error: function () {
                    alert("Failed to fetch products. Please try again.");
                }
            });
        }
    });
    $(document).on("change", ".supplier_default", function () {
        let supplierId = $(this).val();
        let default_prodSelect = $('#quoteItem_row_temp').find('.product_id')
        let default_supplier = $('#quoteItem_row_temp').find('.supplier')
        console.log(default_supplier)
        console.log("Default supplier changed:", supplierId);
    
        if (supplierId) {
            $.ajax({
                url: "/get_products/", 
                type: "GET",
                data: { supplier_id: supplierId },
                dataType: "json",
                success: function (response) {
                    default_prodSelect.empty();  
                    default_prodSelect.append('<option value="" disabled selected>Select Product</option>');
    
                    if (response.products.length > 0) {
                        response.products.forEach(function (product) {
                            default_prodSelect.append(`<option value="${product.product_id}">${product.product_name}</option>`);
                        });
                    } else {
                        default_prodSelect.append('<option value="" disabled>No Products Available</option>');
                    }

                    default_supplier.val(supplierId)
                },
                error: function () {
                    alert("Failed to fetch products. Please try again.");
                }
            });
        }
    });
    $(document).on("click", "#addItem", function () {
        let button = $(this);
        console.log("works")

        rowCounter_addItem++;
        let item_template = $('#quoteItem_row_temp');
        let newRow = item_template.clone();
        
        newRow.attr('id', 'quoteItem_row' + rowCounter_addItem);
        newRow.addClass("quoteItem_row");
        
        newRow.find('.delete-quoteItem').attr('data-row-id', 'quoteItem_row' + rowCounter_addItem);

        newRow.find(".product_id")
        .append('<option value="delete" hidden></option>')
        .select2({ 
            theme: "bootstrap-5",
            placeholder: "Select Product",
            allowClear: true
        });
        let selectedDefaultSupplier = $('#quoteItem_row_temp').find('.supplier').val();
        newRow.find('.supplier').val(selectedDefaultSupplier).trigger('change');

        newRow.show();
        item_container.append(newRow);
        console.log("created row: " + newRow.attr('id'))
    })
    $(document).on("click", ".bom", function () {
        let item_row = $(this).parent().parent().parent();
        let item_supplier = item_row.find(".supplier").val()
        let product_id = item_row.find(".product_id").val()
        let item_quantity = item_row.find(".item_quantity").val()
        let item_width = item_row.find(".item_width").val()
        let item_height = item_row.find(".item_height").val()
        let unit_price = item_row.find(".unit_price").val()
        let total_amount = item_row.find(".total_amount").val()
        let itemDetails = {
            Supplier: item_supplier,
            ProductID: product_id,
            Quantity: item_quantity,
            Width: item_width,
            Height: item_height,
            UnitPrice: unit_price,
            TotalAmount: total_amount
        };
    
        // Log the object
        console.log("Item Details:", itemDetails);
    })
</script>
{% endblock %}